# ##################################################
# ##      .GITIGNORE SIMPLES PARA PYTHON      ##
# ##################################################

# --- Ambientes Virtuais ---
# Impede o envio da pasta do ambiente virtual (venv).
/venv/
/.venv/
/env/
/.env/

