{% if colaboradores.has_other_pages %}
  <nav>
    <ul class="pagination">
      {% if colaboradores.has_previous %}
        <li><a href="?page={{ colaboradores.previous_page_number }}">Anterior</a></li>
      {% endif %}
      {% for num in colaboradores.paginator.page_range %}
        <li class="{% if num == colaboradores.number %}active{% endif %}">
          <a href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endfor %}
      {% if colaboradores.has_next %}
        <li><a href="?page={{ colaboradores.next_page_number }}">Próxima</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
